**/*~
**/bin
**/build
**/target
.metadata/*
**/CVS
**/CVS/**
**/.hg/*
**/.hgignore
.gradle
**/.svn/**
**/.settings
**/.classpath
**/.project
*.sh

*.actual.xml
**/build-for*.xml
Servers/*
org.eclipse.swt/*
pm4j-facelets-demo/*
RemoteSystemsTempFiles/*
web/httpdocs/pm4j-core/docs/current
/target

*.eml
*.iml
.idea/
out/
