**/*~
**/bin/**
**/build/**
**/target/**
.metadata/*
**/CVS
**/CVS/**
**/.hg/*
**/.hgignore
**/.svn/**
**/.settings/org.eclipse.wst.*
**/.settings/org.eclipse.jdt.core.prefs
**/.settings/org.eclipse.core.resources.prefs
# TODO olaf: the maven configuration needs to be completed to generate valid eclipse classpath.
# **/.classpath
**/.project


**/build-for*.xml
Servers/*
org.eclipse.swt/*
pm4j-facelets-demo/*
RemoteSystemsTempFiles/*
web/httpdocs/pm4j-core/docs/current
/target
