**/*~
**/build/**
**/target/**
.metadata/*
**/CVS
**/CVS/**
**/.hg/*
**/.hgignore
**/.svn/**
**/.settings/org.eclipse.wst.*
**/build-for*.xml
Servers/*
org.eclipse.swt/*
pm4j-facelets-demo/*
RemoteSystemsTempFiles/*
web/httpdocs/pm4j-core/docs/current
/target
